<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Rating Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Box Office Revenue Prediction</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Details</h5>
                            <p>Collection Name</p>
                            <div class="autocomplete" style="width:300px;">
                           <input id="myInput" type="text" name="collection" placeholder="collection">
                            </div>

                            <p>Lead Actor/Actress</p>
                            <div class="autocomplete" style="width:300px;">
                           <input id="myInput2" type="text" name="actor" placeholder="actor">
                            </div>


                            <p>Budget:</p>
                            <input type="number" id="budget" name="budget">

                            <p>Popularity:(on scale of 0-300)</p>
                            <input type="number" id="popular" name="popular">

                            <p>Release Year:</p>
                            <input type="number" id="release" name="release">

                            <p>Runtime:</p>
                            <input type="number" id="runtime" name="runtime">

                            <p>Homepage Available?</p>
                            <input type="radio" id="yes" name="homepage" value="yes">
                            <label for="y">Yes</label><br>
                            <input type="radio" id="no" name="homepage" value="no">
                            <label for="n">No</label><br>

                            <p>Tagline Available?</p>
                            <input type="radio" id="y" name="tagline" value="yes">
                            <label for="y">Yes</label><br>
                            <input type="radio" id="n" name="tagline" value="no">
                            <label for="n">No</label><br>



                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Genre</h5>
                            <!-- Destination -->
                            <select name="Genre" id="genre" required="required">
                                <option value="Drama">Drama</option>
                                <option value="Comedy">Comedy</option>
                                <option value="Action">Action</option>
                                <option value="Adventure">Adventure</option>
                                <option value="Horror">Horror</option>
                                <option value="Crime">Crime</option>
                                <option value="Thriller">Thriller</option>
                                <option value="Animation">Animation</option>
                                <option value="Documentary">Documentary</option>
                                <option value="Fantasy">Fantasy</option>
                                <option value="Other">Other</option>
                            </select>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                           <h5 class="card-title">Production Country</h5>
                            <!-- Destination -->
                            <select name="Country" id="country" required="required">
                                <option value="United States of America">United States of America</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="France">France</option>
                                <option value="Canada">Canada</option>
                                <option value="Germany">Germany</option>
                                <option value="India">India</option>
                                <option value="Australia">Australia</option>
                                <option value="Japan">Japan</option>
                                <option value="Russia">Russia</option>
                                <option value="Italy">Italy</option>
                                <option value="Other">Other</option>
                            </select>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h5 class="card-title">Production Company</h5>
                            <!-- Destination -->
                            <select name="Company" id="company" required="required">
                                <option value="Paramount Pictures">Paramount Pictures</option>
                                <option value="Universal Pictures">Universal Pictures</option>
                                <option value="Twentieth Century Fox Film Corporation">Twentieth Century Fox Film Corporation</option>
                                <option value="Columbia Pictures">Columbia Pictures</option>
                                <option value="Warner Bros.">Warner Bros.</option>
                                <option value="New Line Cinema">New Line Cinema</option>
                                <option value="Walt Disney Pictures">Walt Disney Pictures</option>
                                <option value="Columbia Pictures Corporation">Columbia Pictures Corporation</option>
                                <option value="TriStar Pictures">TriStar Pictures</option>
                                <option value="United Artists">United Artists</option>
                                <option value="Other">Other</option>
                            </select>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h5 class="card-title">Language</h5>
                            <!-- Destination -->
                            <select name="Language" id="Language" required="required">
                                <option value="English">English</option>
                                <option value="French">French</option>
                                <option value="Russian">Russian</option>
                                <option value="Español">Español</option>
                                <option value="Hindi">Hindi</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Italiano">Italiano</option>
                                <option value="chinese">chinese</option>
                                <option value="Korean">Korean</option>
                                <option value="zh">zh</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>

            


            <br>
            <br>
            <br>
            <!-- Submit -->
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_texts }}</h3>

        <br>
        <br>

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script>
    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var actors=['Rob Corddry',
 'Anne Hathaway',
 'Miles Teller',
 'Vidya Balan',
 'Kim Kang-woo',
 'Scott Grimes',
 'Jeffrey Dean Morgan',
 'Samir Khader',
 'Tim Curry',
 'Bob Balaban',
 'Sylvester Stallone',
 'Robert Carradine',
 'Kevin Spacey',
 'John Travolta',
 'Tom Cruise',
 'Nikola Rakoƒçeviƒá',
 'Rachel McAdams',
 'Ralph Fiennes',
 'Felicity Jones',
 'Jason Statham',
 'Gary Oldman',
 'Dana Kimmell',
 'Calvin Lee Reeder',
 'Max Perlich',
 'Nathan Meister',
 'Larry Drake',
 'Steve Martin',
 'Daniel Radcliffe',
 'Judd Nelson',
 'Ben Affleck',
 'Fran√ßois Cluzet',
 'Daniel Auteuil',
 'Vin Diesel',
 'Eric Jacobus',
 'Chris Tucker',
 'Kate Hudson',
 'Dustin Hoffman',
 'Jah Shams',
 'Charlton Heston',
 'Jon Roberts',
 'Paul Newman',
 'Madonna',
 'Morgan Freeman',
 'Debra Messing',
 'Kseniya Rappoport',
 'Ray Romano',
 'Samuel L. Jackson',
 'Woody Harrelson',
 'Patrick Stewart',
 'Barbara Sarafian',
 'Jack Lemmon',
 'Elliott Gould',
 'Molly Ringwald',
 'Tom Felton',
 'Pauly Shore',
 'Sandrine Bonnaire',
 'George Clooney',
 'Tanner Cohen',
 'Ice Cube',
 'Daniel Craig',
 'Burt Lancaster',
 'Denzel Washington',
 'Kane Hodder',
 'Bruce Dern',
 'Jean-Claude Van Damme',
 'Keanu Reeves',
 'Jiang Wu',
 'Gregory Peck',
 'Lucas Black',
 'Adrien Brody',
 'Gael Garc√≠a Bernal',
 'Johnny Depp',
 'Varhan Orchestrovich Bauer ',
 'Yvette Mimieux',
 'Anton Yelchin',
 'Ajith Kumar',
 'Chevy Chase',
 'Burt Reynolds',
 'Sheri Moon Zombie',
 'Kurt Russell',
 'Roy Scheider',
 'Elizabeth Olsen',
 'Laura Linney',
 'Jackie Chan',
 'Jessica Chastain',
 'Jodie Foster',
 'Uma Thurman',
 'Margherita Buy',
 'Juliette Binoche',
 'Michael Fassbender',
 'Naomi Watts',
 'Yuriy Kutsenko',
 'Tomer Sisley',
 'Maksim Sukhanov',
 'Fiona Glascott',
 'Sean Penn',
 'Dolph Lundgren',
 'Russell Crowe',
 'Lee Young-eun',
 'Viola Davis',
 '≈ûahan G√∂kbakar',
 'Gugu Mbatha-Raw',
 'Harrison Ford',
 'Mel Gibson',
 'Cate Blanchett',
 'Julie Andrews',
 'Bruce Willis',
 'Brittany Murphy',
 'Chris Hemsworth',
 'Matthew Broderick',
 'Elijah Wood',
 'Eddie Griffin',
 'Tim Allen',
 'Julian Sands',
 'Tony Goldwyn',
 'Gene Hackman',
 'Jet Li',
 'Joseph Gordon-Levitt',
 'Jonathan Rhys Meyers',
 'Mark Hamill',
 'Tom Welling',
 'Ossie Davis',
 'Steve Coogan',
 'Orlando Bloom',
 'Liam Neeson',
 'Robert Downey Jr.',
 'Simon Pegg',
 'Crusoe Kurddal',
 'Alicia Witt',
 'Jeremy Piven',
 'Emma Bell',
 'Scarlett Johansson',
 'Melissa Rauch',
 'Billy Bob Thornton',
 'Audrey Hepburn',
 'Michael Shannon',
 'Bubba Smith',
 'Chris Evans',
 'Charles Grodin',
 'Halle Berry',
 'Trevor Howard',
 'Will Allen',
 'Charlotte Burke',
 'Jennifer Lopez',
 'Robert Forster',
 'Harriet Owen',
 'Andrei Panin',
 'Joe Lara',
 'Sharon Stone',
 'Zooey Deschanel',
 'Lea Thompson',
 'Mark Duplass',
 'Jason Schwartzman',
 'Hilary Swank',
 'Bo Derek',
 'Lou Dobbs',
 'Peter Sellers',
 'Steve Guttenberg',
 'Lindsay Crouse',
 'Milla Jovovich',
 'Rebel Wilson',
 'Paul Walker',
 'James Spader',
 'Michael Saucedo',
 'Timothy Dalton',
 'Edward Norton',
 'Anne-Marie Duff',
 'John Candy',
 'Koji Yakusho',
 'Adam Sandler',
 'Holly Marie Combs',
 'John Paul Tremblay',
 'Lon Chaney',
 'Ben Burtt',
 'Wendi McLendon-Covey',
 'Bruce Ramsay',
 'Cameron Diaz',
 'Jennifer Saunders',
 'Sho Kosugi',
 'Ally Sheedy',
 'Mohammad Amir Naji',
 'Cotter Smith',
 'Michael Douglas',
 'David Arquette',
 'Tom Hardy',
 'Julia Roberts',
 'Geena Davis',
 'Owen Wilson',
 'Dan Castellaneta',
 'Jim Carrey',
 'Kate Mara',
 'Bill Paxton',
 'Amy Jo Johnson',
 'Edward Furlong',
 'Viggo Mortensen',
 'Tom Everett Scott',
 'Patrick Swayze',
 'Akshay Kumar',
 'Jason Bateman',
 'Wasabi Mizuta',
 'Bill Murray',
 'Lasse √Öberg',
 'Jeff Clark',
 'Liu Ye',
 'Sandra Bullock',
 'Kim Cattrall',
 'Gary Gulman',
 'Heath Ledger',
 'Nicolas Cage',
 'Carey Mulligan',
 'William Holden',
 'Nick Nolte',
 'Ashley Judd',
 'Jim Broadbent',
 'missing',
 'Charlie Hunnam',
 "Chris O'Neil",
 'Dennis Miller',
 'Jos√© Sazatornil',
 'Nick Cannon',
 'Jim Belushi',
 'Lea Michele',
 'Mitsuki Tanimura',
 'Holly Hunter',
 'George Hamilton',
 'Josh Zuckerman',
 'Bruno Ganz',
 'Peter Ustinov',
 'Richard Anconina',
 'Kevin Heffernan',
 'Karolina Gruszka',
 'Eddie Garcia',
 'Jason Clarke',
 'Richard Egan',
 'Atsuko Tanaka',
 'Ayesha Dharker',
 'Robin Williams',
 'Rinko Kikuchi',
 'Melanie Griffith',
 'Jamie Bell',
 'Emile Hirsch',
 "Brian O'Halloran",
 'Alex Pettyfer',
 'Woody Allen',
 'Zachary Gordon',
 'Will Ferrell',
 'Steven Seagal',
 'Tom Hanks',
 'Julian Assange',
 'Sonu Sood',
 'Ben Schnetzer',
 'Lou Diamond Phillips',
 'Kristen Connolly',
 'Jake Gyllenhaal',
 'Dennis Hopper',
 'James McAvoy',
 'Dana Delany',
 'Laurence Fishburne',
 'Jodi Benson',
 'Hugh Grant',
 "Jack O'Connell",
 'Alan Arkin',
 'Jennifer Lawrence',
 'Fyodor Bondarchuk',
 'Kevin Costner',
 'Patrick Bergin',
 'Kevin Bacon',
 'Mae West',
 'James Gandolfini',
 'Rebecca De Mornay',
 'Chuck Norris',
 'Leonardo DiCaprio',
 'Max Records',
 'Bernie Mac',
 'Jamie Lee Curtis',
 'Julianne Moore',
 'Melvil Poupaud',
 'Ja Rule',
 'Tobey Maguire',
 'Angelina Jolie',
 'Matt Damon',
 'Tatsuya Fujiwara',
 'Gabriel Byrne',
 'Jeff Bridges',
 'Eddie Murphy',
 'Goldie Hawn',
 'Zoe Saldana',
 'Gwyneth Paltrow',
 'Willie Aames',
 'Donnie Yen',
 'Aaron Eckhart',
 'Vikram',
 'Jon Hamm',
 'Jesse Eisenberg',
 'Nanako Matsushima',
 'Kuno Becker',
 'Sean Connery',
 'David Tennant',
 'Daniel Letterle',
 'John Phillip Law',
 'Chris Pine',
 'Dudley Moore',
 'Will Smith',
 'Terry Jones',
 'Sumi Shimamoto',
 'Zana Briski',
 'Mark Wahlberg',
 'Chris Penn',
 'Dr. Dre',
 'Ray Stevenson',
 'Matthew McConaughey',
 'Jonathan Taylor Thomas',
 'Rachel Weisz',
 'Aisholpan Nurgaiv',
 'Suriya ',
 'Pyotr Fyodorov',
 'Marion Cotillard',
 'Al Pacino',
 'Shane Carruth',
 'Greg Kinnear',
 'Christian Clavier',
 'Greta Gerwig',
 'Olivia Wilde',
 'Phil Davis',
 'Griffin Dunne',
 'William Shatner',
 'Whoopi Goldberg',
 'John Turturro',
 'Ewan McGregor',
 'Ethan Hawke',
 'Ma√Ø Anh Le',
 'Keira Knightley',
 'Rowan Atkinson',
 'America Ferrera',
 'Tom Berenger',
 '50 Cent',
 'Diego Abatantuono',
 'Evgeny Mironov',
 'Emmanuelle Devos',
 'Arnold Schwarzenegger',
 'John Malkovich',
 'Kevin Hart',
 'Christopher Walken',
 'Daniel Day-Lewis',
 'Kathleen Turner',
 'Diane Lane',
 'Ajay Devgn',
 'Shawn Christensen',
 'Steve Austin',
 'Taurean Blacque',
 'Jennifer Love Hewitt',
 'Kim Basinger',
 'Robert De Niro',
 'Sigourney Weaver',
 'Julianne Hough',
 'Ad van Kempen',
 'Sacha Baron Cohen',
 'Masahiro Motoki',
 'Lisa Blount',
 'Evan Rachel Wood',
 'Craig T. Nelson',
 'Michael Jai White',
 'John Cusack',
 'Vanessa Redgrave',
 'Eva Mendes',
 'Cuba Gooding Jr.',
 'Gorka Otxoa',
 'Richard Chamberlain',
 'Hugh Jackman',
 'Blake Jenner',
 'Ashton Kutcher',
 'Brad Pitt',
 'Diane Kruger',
 'S√¥nia Braga',
 'Sullivan Stapleton',
 'Christopher Plummer',
 'Dave Hoover',
 'Christine Cavanaugh',
 'Heike Makatsch',
 'Mandy Moore',
 'Alan Powell',
 'Kevin Bernhardt',
 'Don Johnson',
 'Lindsey Haun',
 'Laurence Olivier',
 'Daniel Schlachet',
 'John Corbett',
 'Antonio Banderas',
 'Derek de Lint',
 'Dwayne Johnson',
 'Ariana Richards',
 'Cher',
 'Amanda Bynes',
 'Ralph Macchio',
 'Kirby Heyborne',
 'Bradley Cooper',
 'Matt LeBlanc',
 'Anna Bolshova',
 'Ir√°n Castillo',
 'Ray Liotta',
 'Susan Sarandon',
 'John Cena',
 'Rosemary Clooney',
 'Drew Barrymore',
 'Jeremy Irvine',
 'Andrew Lowery',
 'Robert Redford',
 'Yekaterina Gorokhovskaya',
 'Frank Grillo',
 'Edith Meeks',
 'Toni Collette',
 'Eric Bana',
 'Emilio Estevez',
 'Keenen Ivory Wayans',
 'Florence Hartigan',
 'Wesley Snipes',
 'Noam Chomsky',
 'Lino Ventura',
 'Harvey Keitel',
 'Tommy Lee Jones',
 'Sean Gullette',
 'Ashley Grace',
 'Marlon Brando',
 'Dennis Quaid',
 'Camilla Belle',
 'Keenan Kampa',
 'Madhavan',
 'Eddie Redmayne',
 'Joaquin Phoenix',
 'Ryan Phillippe',
 'Glen Campbell',
 'Amy Adams',
 'Melissa George',
 'Selena Gomez',
 'Mike Myers',
 'Clive Owen',
 'Lindsay Lohan',
 'Richard Burton',
 'Noel Gallagher',
 'Kate Capshaw',
 'Topher Grace',
 'Derek Luke',
 'Martin Lawrence',
 'Morgan Spurlock',
 'Levi Miller',
 'Jason London',
 'Shirley MacLaine',
 'Anthony Mackie',
 'Jack Nicholson',
 'Deborah Harry',
 'Elizabeth Reaser',
 'Bruce Balden',
 'Colin Farrell',
 'Sharlto Copley',
 'Yuka Imoto',
 'Paul Muni',
 'Mia Wasikowska',
 'Paula Patton',
 'Taron Egerton',
 'Kelly Reno',
 'Jamie McShane',
 'Brie Larson',
 'Jos√© Luis Manzano',
 'Edward Hogg',
 'John Wayne',
 'Katherine Heigl',
 'Rosario Dawson',
 'John Lithgow',
 'Cillian Murphy',
 'Sid Haig',
 'Jennifer Westfeldt',
 'Ren√©e Zellweger',
 'Omar Sy',
 'Robert Mitchum',
 'Gene Wilder',
 'Rosemarie DeWitt',
 'Christine Lahti',
 'Aamir Khan',
 'Shankar Mahadevan',
 'William Prince',
 'Tenzin Thuthob Tsarong',
 'Deon Richmond',
 'Sergey Garmash',
 'Mickey Rourke',
 'Chris Farley',
 'Vincent P√©rez',
 'Hal Holbrook',
 'Michael Ealy',
 'Clint Eastwood',
 'Lillian Gish',
 'Zhang Hanyu',
 'David Carr',
 'Ellen Page',
 'Michelle Nicastro',
 'Andre Gower',
 'Kim Min-hee',
 'Christian Bale',
 'Josh Duhamel',
 'Jorge Lavat',
 'Walter Matthau',
 'Allan Edwall',
 'Carlos Padilla',
 'Rob Schneider',
 'Robert Sean Leonard',
 'Shah Rukh Khan',
 'Vivica A. Fox',
 'Paul Giamatti',
 'Robert Stephens',
 'Ioan Gruffudd',
 'Barret Oliver',
 'Briana Evigan',
 'Tony Barry',
 'Ed Harris',
 'Diego Luna',
 'Jada Pinkett Smith',
 'Takashi Shimura',
 'James Frecheville',
 'Jane Fonda',
 'Bing Crosby',
 'Peter Sallis',
 'Kate Winslet',
 'Douglas Henshall',
 'Karra Elejalde',
 'Winona Ryder',
 'Val Kilmer',
 'Nathaniel Brown',
 'Julia Dietze',
 'Natalie Portman',
 'Pierce Brosnan',
 'Jesse McCartney',
 'Carla Gugino',
 'Martin Freeman',
 'Andr√© Benjamin',
 'Andrea Riseborough',
 'Priyanka Chopra',
 'Kristen Bell',
 'Josh Lucas',
 'Cathy Cavadini',
 'Aaron Taylor-Johnson',
 'Billy Crudup',
 'Cary Grant',
 'Alec Baldwin',
 'Kevin James',
 'Emma Watson',
 'Spencer Tracy',
 'Linda Blair',
 'David Garrett',
 'Reese Witherspoon',
 'Jeremy Renner',
 'Catherine Deneuve',
 'Salman Khan',
 'Tom Selleck',
 'John Hawkes',
 'Idris Elba',
 'Rick Moranis',
 'Olivia DeJonge',
 'Jason Biggs',
 'Mick Foley',
 'James Stewart',
 'Gary Busey',
 'Zoe Kazan',
 'Maggie Gyllenhaal',
 'Diane Keaton',
 'Benjamin Bratt',
 'Bette Midler',
 'Chris Rock',
 'Manuela Velasco',
 'Ti Lung',
 'Kristen Stewart',
 'Nina Hoss',
 'Seth Rogen',
 'Ir√®ne Jacob',
 'Terence Stamp',
 'Song Kang-ho',
 'Ginnifer Goodwin',
 'Robert Taylor',
 'Pamela Gidley',
 'Jessica Alba',
 'Rutger Hauer',
 'Marcia Strassman',
 'Riz Ahmed',
 'Brendan Fraser',
 'Mathieu Amalric',
 'Anessa Ramsey',
 'Zac Efron',
 'Erica Linz',
 'Brooke Shields',
 'James Woods',
 'Ron Thompson',
 'Vince Vaughn',
 'Julie Delpy',
 'Elizabeth Banks',
 'Martina Gedeck',
 'John Hurt',
 'Edgar Ram√≠rez',
 'Jonah Hill',
 'Shahid Kapoor',
 'Nicole Kidman',
 'Ryan Reynolds',
 'Anna Kendrick',
 'Tom Hiddleston',
 'Michael J. Fox',
 'Meg Ryan',
 'Phoebe Cates',
 'Hilary Duff',
 'Marcos Hern√°ndez',
 'Conrad Anker',
 'Barry Newman',
 'Devon Sawa',
 'Justin Whalin',
 'Jung Jae-young',
 'Elizabeth Rice',
 'Kate Beckinsale',
 'Kevin Kline',
 'Brian Bedford',
 'John Goodman',
 'Jay Chandrasekhar',
 'Muhammet Uzuner',
 'Julian Barratt',
 'Tim McGraw',
 'Vern Stierman',
 'Jason Lee',
 'Edward Burns',
 'Joe Swanberg',
 'Fred Astaire',
 'Richard Gere',
 'Ray Milland',
 'Roseanne Barr',
 'Tony Leung Chiu-Wai',
 'Zhang Lei',
 'Jason Ritter',
 'Barbra Streisand',
 'Samy Naceri',
 'Queen Latifah',
 'Jennifer Rubin',
 'Sonam Kapoor',
 'Rachel Griffiths',
 'Jake T. Austin',
 'Bela Lugosi',
 'Dhanush',
 'Charlie Chaplin',
 'Forest Whitaker',
 'Rooney Mara',
 'Michael Keaton',
 'Minna Haapkyl√§',
 'LeBron James',
 'Jeremy Irons',
 'Jane Levy',
 'Mary Badham',
 'Malala Yousafzai',
 'Jonathan Velasquez',
 'Javier Bardem',
 'Melina Mercouri',
 'Alan Rickman',
 'James Franco',
 'Til Schweiger',
 'Rick Gonzalez',
 'Demi Moore',
 'Mikhail Baryshnikov',
 'Scott Bakula',
 'Gerard Butler',
 'Nikita Efremov',
 'Nora Aunor',
 'Nia Vardalos',
 'Joe Absolom',
 'Buck Brannaman',
 'Claire Danes',
 'Channing Tatum',
 'William H. Macy',
 'Rajinikanth',
 'Henry Cavill',
 'Randal Douc',
 'James Garner',
 'Meryl Streep',
 'Jo Jae-hyeon',
 'Rapha√´l Personnaz',
 'Jamie Dornan',
 'Takeru Satoh',
 'Sarah Polley',
 'Chris Elliott',
 'Dulquer Salmaan',
 'Matt Adler',
 'Michael Ironside',
 'Donald Pleasence',
 'Bill Farmer',
 'David Morse',
 'Quim Guti√©rrez',
 'Nicholas Hoult',
 'Charlie Bewley',
 'Frankie Muniz',
 'Zuhab Khan',
 'Kamal Haasan',
 'Anthony Wong',
 'Justin Long',
 'Greta Garbo',
 'Keke Palmer',
 'Veronica Taylor',
 'Park Joong-hoon',
 'Danny DeVito',
 'Tilda Swinton',
 'Brandon Routh',
 'Bhagavan Angulo',
 'Stefania Rocca',
 'Steve Carell',
 'Hume Cronyn',
 'Elyas M‚ÄôBarek',
 'Vincent Cassel',
 'Brahim Hadjadj',
 'Tiger Shroff',
 'Patrick Wilson',
 'Chlo√´ Grace Moretz',
 'Hayden Panettiere',
 'Fabio De Luigi',
 'Ben Weber',
 'Luis Tosar',
 'Kiefer Sutherland',
 'Joshua Safran',
 'Anthony Hopkins',
 'Lisa Kudrow',
 'Brendan Mackey',
 'Meron Getnet',
 'Yusuke Iseya',
 'Hiroki Hasegawa',
 'Cary Elwes',
 'Jacqueline Bisset',
 'Mads Mikkelsen',
 'Irrfan Khan',
 'Billy Gardell',
 'Thom Mathews',
 'Amy Schumer',
 'Sean Astin',
 'Sam Worthington',
 'Ben Winchell',
 'Jason Griffith',
 'Graham Chapman',
 'Mariel Hemingway',
 'Billy Connolly',
 'Quvenzhan√© Wallis',
 'Ari Folman',
 'Mira Sorvino',
 'Leonard Whiting',
 'Jim Caviezel',
 'Christopher Lee',
 'Megan Fox',
 'Jonas Chernick',
 'Mark Strong',
 'Glenda Jackson',
 'Konstantin Khabenskiy',
 "Terry O'Quinn",
 'J.J. Johnson',
 'Ben Stiller',
 'Javier C√°rdenas',
 'John Krasinski',
 'Leslie Bibb',
 'Leonor Varela',
 'John Lone',
 'Doug McKeon',
 'Jaime Pressly',
 'William Moseley',
 'Julia Voth',
 'David Belle',
 'Elizabeth Perkins',
 'Fernanda Montenegro',
 'Stephen Chow',
 'Ellen Burstyn',
 'Katie Holmes',
 'Marlee Matlin',
 'Charlotte Frogner',
 'Guy Pearce',
 'Olivia Newton-John',
 'Sharni Vinson',
 'Debi Derryberry',
 'Zack Bazzi',
 'Robert Iannucci',
 'Anthony Edwards',
 'Johnny Knoxville',
 'Alex Angulo',
 'Paul Dano',
 'Domhnall Gleeson',
 'Veerle Baetens',
 'Brenda Blethyn',
 'Wu Jing',
 'Dakota Johnson',
 'Josema Yuste',
 'Geert Hunaerts',
 'Sam Rockwell',
 'Ilka Bessin',
 'Massimo Girotti',
 'Nick Pickard',
 'Catherine Hicks',
 'Roger Moore',
 'Jessalyn Gilsig',
 'Charlie Tahan',
 'Jason Patric',
 'Saoirse Ronan',
 'Bruce Campbell',
 'Shane McDermott',
 'Peter Simonischek',
 '√âric Bruneau',
 'Christopher Lambert',
 'Amy Seimetz',
 'Nicoletta Braschi',
 'Yu Jun-sang',
 'Kevin Dillon',
 'Humphrey Bogart',
 'Rachel Melvin',
 'Meg Tilly',
 'Sasha Lane',
 'Tom Schilling',
 'James Mason',
 'Shia LaBeouf',
 'Dirk Bogarde',
 'Ken Marshall',
 'Joe Bishop',
 'So Ji-sub',
 'Logan Lerman',
 "George O'Brien",
 'Mel Brooks',
 'Darci Kistler',
 'Charlie Sheen',
 'Marilyn Monroe',
 'Morris Chestnut',
 'Armin Mueller-Stahl',
 'Bobby Driscoll',
 'Sean Hayes',
 'Kate Angus',
 'Ben Barnes',
 'Peter Capaldi',
 'Philip Seymour Hoffman',
 'Dick Van Dyke',
 'Hayden Christensen',
 'Robert Pattinson',
 'Shailene Woodley',
 'Otto Sander',
 'Jeanne Moreau',
 'Gottfrid Svartholm',
 'Joan Crawford',
 'John Erwin',
 'Michelle Rodriguez',
 'Eric Allan Kramer',
 'Lena Dunham',
 'Andy Lau',
 'Vijay',
 'Mark Harmon',
 'Mar√≠a Valverde',
 'Lorraine Gary',
 'Jennifer Grey',
 'Benicio del Toro',
 'Chris Cooper',
 'Jerry Seinfeld',
 'Josh Radnor',
 'Farrah Fawcett',
 'Santiago Segura',
 'Jordan Peele',
 'Chris Riggi',
 'Dacre Montgomery',
 'Vinay Virmani',
 'Sara Paxton',
 'Katie Featherston',
 'Sally Field',
 'David Niven',
 'Rider Strong',
 'Jesse Bradford',
 'Errol Flynn',
 'Jamie Foxx',
 'Christian Slater',
 'Eric Stoltz',
 'Anne Coesens',
 'Franco Nero',
 'Fabrice Luchini',
 'Brad Johnson',
 'Taylor Schilling',
 'Leighton Meester',
 'Sean Bean',
 'Judy Garland',
 'Taylor Kitsch',
 'Kirsten Dunst',
 'Martin Speer',
 'Matthias Schweigh√∂fer',
 'Peter Falk',
 'Michael Murphy',
 'Alina Babak',
 'Non',
 'Matthew Macfadyen',
 'Frederick Stafford',
 'Annette Bening',
 'Marco Leonardi',
 'Zach Galligan',
 'Roddy McDowall',
 'Richard Carlson',
 'Judy Davis',
 'Treat Williams',
 'Diana Ross',
 'David Johansen',
 'Matthew Lillard',
 'Nick Stahl',
 'Kris Kristofferson',
 'Emmanuel Garijo',
 'Jacob Wysocki',
 'Paul Scofield',
 'Melanie Kinnaman',
 'Stanislav Boklan',
 'Luke Wilson',
 'Gabe Nevins',
 'Adam Beach',
 'Polina Filonenko',
 'Kelly Reilly',
 'Josh Hutcherson',
 "Beverly D'Angelo",
 'Isabelle Huppert',
 'Albert Finney',
 'Reem Abdullah',
 'James Abourezk',
 'Sergei Astahov',
 'Natasha Lyonne',
 'Danila Kozlovsky',
 'Pilou Asb√¶k',
 'Carl Weathers',
 'James Dean',
 'Richard Harris',
 'Jamie Campbell Bower',
 'Michiel Huisman',
 'Zhang Ziyi',
 'Liam Hemsworth',
 'Mario Van Peebles',
 'Aleksandr Antonov',
 'Miley Cyrus',
 'Marie Avgeropoulos',
 'Edmund Gwenn',
 'Brian Hooks',
 'Park Hae-il',
 'Cloris Leachman',
 'Lou Taylor Pucci',
 'Sean Faris',
 'Florence Pugh',
 'Baki Davrak',
 'Dinesh Ravi',
 'Gemma Arterton',
 'John C. Reilly',
 'Dane Cook',
 'Britt Robertson',
 'Choi Min-sik',
 'Alexis Bledel',
 'Kimberly Elise',
 'Leonid Barats',
 'Chris Kattan',
 'Han Hyo-joo',
 'Mary Elizabeth Winstead',
 'Hugo Weaving',
 'Karin Viard',
 'Sylvia Kristel',
 'Silvio Berlusconi',
 'Brianna Brown',
 'Cyril Dion',
 'Tom Payne',
 'Sarah Jessica Parker',
 'Mary Beth Hurt',
 'Billy Crystal',
 'Paul Bettany',
 'Romain Duris',
 'Bud Abbott',
 'Michael York',
 'Monia Chokri',
 'Bradley Gregg',
 'Ali Larter',
 'Anthony Perkins',
 'Kevin Conroy',
 'Raquel Welch',
 'Brian Krause',
 'Louis Franck',
 'Anthony Rapp',
 'Kristy Swanson',
 'Sidney Poitier',
 'Muhammad Ali',
 'Luke Kirby',
 'Otto Jespersen',
 'Keir Gilchrist',
 'Kevin Peter Hall',
 'Paul Hubschmid',
 'Oleg Kulikovich',
 'Jason James Richter',
 'Annabelle Wallis',
 'Stephen Rea',
 'Ryan Gosling',
 'Bobby Hackney',
 'John Cho',
 'Geoffrey Rush',
 'Jane Adams',
 'John Ritter',
 'Vera Brezhneva',
 'Patrick Dempsey',
 'Ariadna Gil',
 'Amitabh Bachchan',
 'Jonathan Cherry',
 'Johanna Braddy',
 'Danielle Harris',
 'Roselyn S√°nchez',
 'John Dye',
 'Bill Barretta',
 'Lily James']

 var collection=['Hot Tub Time Machine Collection',
 'The Princess Diaries Collection',
 'missing',
 'The Muppet Collection',
 'Rocky Collection',
 'Revenge of the Nerds Collection',
 'Chili Palmer Collection',
 'The Transporter Collection',
 'Friday the 13th Collection',
 'V/H/S Collection',
 'The ABCs of Death Collection',
 'Rush Hour Collection',
 'Cocaine Cowboys',
 'Ice Age Collection',
 'Star Trek: The Next Generation Collection',
 'Batman Collection',
 'James Bond Collection',
 'Bloodsport Collection',
 'The Fast and the Furious Collection',
 'Fright Night (Reboot) Collection',
 'Caddyshack Collection',
 'The Space Odyssey Series',
 'Kill Bill Collection',
 'Recep İvedik Serisi',
 'The Lord of the Rings Collection',
 'Tarzan (Animation) Collection',
 "Cowgirls n' Angels Collection",
 'X-Men Collection',
 'Police Academy Collection',
 'Beethoven Collection',
 'Peter Pan Collection',
 'Shadow Boxing Collection',
 'Qatsi Collection',
 'The Pink Panther (Original) Collection',
 'Mad Max Collection',
 'Lew Harper Collection',
 'The Blue Lagoon collection',
 'A Few Best Men Collection',
 'Rambo Collection',
 'Trailer Park Boys Collection',
 'Hellraiser Collection',
 'Enter the Ninja Collection',
 'Power Rangers Collection',
 'The Jaws Collection',
 'Doraemon Collection',
 'Sällskapsresorna',
 'Basic Instinct Collection',
 'Tales from the Crypt Collection',
 'Los Leguineche - Colección',
 'The Mask Collection',
 'Would I Lie to You? Collection',
 'Ghost in the Shell Collection',
 'Clerks Collection',
 'Diary of a Wimpy Kid Collection',
 'Bats Collection',
 'The Hunger Games Collection',
 'Dark Planet Collection',
 'Tremors Collection',
 'Missing in Action Collection',
 'Cars Collection',
 'Death Note Collection',
 'Dr. Dolittle Collection',
 'Happy Feet Collection',
 'Now You See Me Collection',
 'Goal! Collection',
 'Alex Cross Collection',
 'The Jack Ryan Collection',
 'Arthur Collection',
 'The Lion King Collection',
 'Singam Collection',
 'Asterix and Obelix Collection',
 'Behind Enemy Lines Collection',
 'Rugrats Collection',
 'Mr. Bean Collection',
 'Jingle All the Way Collection',
 'Cannonball Run Collection',
 'I Know What You Did Last Summer Collection',
 "Bill & Ted's Most Excellent Collection",
 'Alien Collection',
 'Poltergeist Collection',
 'Daddy Day Camp Collection',
 'The Butterfly Effect Collection',
 'Johnny English Collection',
 '300 Collection',
 'Universal Soldier Collection',
 'Babe Collection',
 'My Big Fat Greek Wedding Collection',
 'Mexico Trilogy',
 'The Karate Kid Collection',
 'The Hangover Collection',
 'Space Dogs',
 'The Marine Collection',
 'Three Heroes Collection',
 'The Purge Collection',
 'Hotel Transylvania Collection',
 'The Fugitive / U.S. Marshals Collection',
 'Timecop Collection',
 'StreetDance Collection',
 'Stir of Echoes Collection',
 'Wonder Woman Collection',
 'Demetrius Filmreihe',
 'Predator Collection',
 'Indiana Jones Collection',
 'Ouija Collection',
 'The Up Series',
 'The Black Stallion Collection',
 'El pico - Colección',
 '28 Days/Weeks Later Collection',
 'House of 1000 Corpses Collection',
 'Bridget Jones Collection',
 'Darkman Collection',
 'From Dusk Till Dawn Collection',
 'Resident Evil Collection',
 'Before... Collection',
 'Creepshow Collection',
 'Swan Princess Series',
 'Navarone Collection',
 'Dennis the Menace Collection',
 'Fantastic Four Collection',
 'The Odd Couple Collection',
 'The Neverending Story Collection',
 'Step Up Collection',
 'Wallace & Gromit Collection',
 'Iron Sky Collection',
 'Elektra Luxx Collection',
 'The Hobbit Collection',
 'Father of the Bride Collection',
 'Kick-Ass Collection',
 'Mall Cop Collection',
 'Star Wars Collection',
 'Ride Along Collection',
 'American Pie Collection',
 'The Expendables Collection',
 'FernGully Collection',
 '[REC] Collection',
 'A Better Tomorrow Collection',
 'The Twilight Collection',
 'Rio Collection',
 'The Vengeance Collection',
 'Honey, I Shrunk the Kids Collection',
 'Sin City Collection',
 '48 Hrs. Collection',
 'Cirque du Soleil Collection',
 'World War Z Collection',
 'Back to the Future Collection',
 'Cinderella Story Collection',
 'The Little Mermaid Collection',
 "Child's Play Collection",
 'The Jungle Book Collection',
 'Super Troopers Collection',
 'Robert Langdon Collection',
 'Escape From ... Collection',
 'Alvin and the Chipmunks Collection',
 'The Dark Knight Collection',
 'Taxi Collection',
 'Dracula (Universal Series)',
 'The Godfather Collection',
 'Keinohrhasen Filmreihe',
 'Major League Collection',
 'Alice in Wonderland Collection',
 'Ghost Rider Collection',
 'Ivan Tsarevich & the Grey Wolf Collection',
 'Rurouni Kenshin Live-Action Collection',
 'Prom Night Collection',
 'Halloween Collection',
 'A Goofy Movie Collection',
 '8MM Collection',
 'Agent Cody Banks Collection',
 'John Wick Collection',
 'Pokémon Collection',
 'F*ck You, Goethe Collection',
 'Harry Potter Collection',
 'Bad Boys Collection',
 "National Lampoon's Vacation Collection",
 'The Conjuring Collection',
 'TRON Collection',
 'Alpha and Omega Collection',
 'Saw Collection',
 'Pitch Perfect Collection',
 'Dracula (Hammer Series)',
 'Teenage Mutant Ninja Turtles (Remake) Collection',
 'National Treasure Collection',
 'The Stepfather Collection',
 'Jack Reacher Collection',
 'The Chronicles of Narnia Collection',
 "Ocean's Collection",
 'District 13 Collection',
 'What the Bleep! Collection',
 'Dead Snow Collection',
 'Lethal Weapon Collection',
 'The Disappearance Of Eleanor Rigby',
 'Jackass Collection',
 'Wolf Warriors Collection',
 'Lost Boys Collection',
 'Fletch Collection',
 'The Avengers Collection',
 'Evil Dead Collection',
 'Smokey and the Bandit Collection',
 'Constantine Collection',
 'Highlander Collection',
 'The Santa Clause Collection',
 'Mean Girls Collection',
 'Transformers Collection',
 'Percy Jackson Collection',
 'Elizabeth Collection',
 'Atlas Shrugged Collection',
 'Philo & Clyde Collection',
 'Detective Dee Collection',
 'Dirty Dancing Collection',
 'Meet the Parents Collection',
 'Vampires Suck Collection',
 'Paranormal Activity Collection',
 'The Cabin Fever Collection',
 'The Hustler Collection',
 'Jarhead Collection',
 "Look Who's Talking Collection",
 'The Philadelphia Experiment - Collezione',
 'The Hills Have Eyes (Original) Collection',
 'The Gremlins Collection',
 'Dirty Harry Collection',
 'Planet of the Apes Original Collection',
 'Creature From The Black Lagoon (Universal Series)',
 'Dracula 2000 Collection',
 'Blade Collection',
 'Pulse Collection',
 'Turbulence Collection',
 'Django - Original films',
 'Never Back Down Collection',
 'Wreck-It Ralph Collection',
 'Planes Collection',
 "Surf's Up Collection",
 'Miss Congeniality Collection',
 'The Sisterhood of the Traveling Pants Collection',
 'Kvartet I Collection',
 'Superman Collection',
 'Shaft Collection',
 'The Klapisch Trilogy',
 'Class of 1999 Collection',
 'Final Destination Collection',
 'Psycho Collection',
 'Mannequin Collection',
 'Ирония судьбы (Коллекция)',
 'World of Watches Collection',
 'Free Willy Collection',
 'Annabelle Collection',
 'Harold & Kumar Collection',
 'Love in the City Collection',
 'House of the Dead Collection',
 'The Grudge Collection',
 'Stake Land Collection',
 'The Saint Collection',
 'Toy Story Collection',
 'Sinister Collection',
 'Children of the Corn Collection',
 'Cheech & Chong Collection',
 'Leprechaun Collection (Original Series)',
 'How to Train Your Dragon Collection',
 'Hercules (Lou Ferrigno) Collection',
 'Zorro Collection',
 'The Boondock Saints Collection',
 'Crocodile Dundee Collection',
 'Lady and the Tramp Collection',
 'Red Cliff Collection',
 'Tulse Luper',
 'Quarantine Collection',
 'The Wolverine Collection',
 '12 Rounds Collection',
 'House on Haunted Hill Collection',
 'Death Race Collection',
 'French Connection Collection',
 'K-9 Collection',
 'The Maze Runner Collection',
 'Police Story Collection',
 'Billy Jack Collection',
 'Blair Witch Collection',
 'East is East Collection',
 'Planet of the Apes (Reboot) Collection',
 'RoboCop Collection',
 'Cocoon Collection',
 'Mechanic Collection',
 'Legally Blonde Collection',
 'Masti Collection',
 'Jurassic Park Collection',
 "God's Not Dead Collection",
 'Mimic Collection',
 'The Terminator Collection',
 'The Bourne Collection',
 'Ultimate Avengers Collection',
 'Brooklyn Cigar Store Collection',
 'The Millennium Collection',
 'Texas Chainsaw Massacre Collection',
 'Always: Sunset on Third Street Collection',
 '2 Days In... Collection',
 'Самый лучший фильм - Коллекция',
 'Phantasm Collection',
 'Kickboxer Collection',
 'Urban Legend',
 'Captain America Collection',
 'Herbie Collection',
 'Scooby-Doo Collection',
 'Airport Collection',
 'Ghostbusters Collection',
 'Captain Harlock Collection',
 'The Fly (1958 series)',
 'Tooth Fairy Collection',
 'Sex and the City Collection',
 'Almighty Collection',
 'The Flintstones (Live-Action) Collection',
 'The Blues Brothers Collection',
 'The Whole Nine/Ten Yards Collection',
 'The Omen Collection',
 'The Art of War Collection',
 'Ip Man Collection',
 'Sarkar Collection',
 'Jeepers Creepers Collection',
 'Species Collection',
 'Balto Collection',
 'Major Korenev Trilogy',
 'Star Trek: The Original Series Collection',
 'Scary Movie Collection',
 'Guardians of the Galaxy Collection',
 'Crank Collection',
 'American Ninja Collection',
 'Rocky Horror Collection',
 'Wall Street Collection',
 'Cat People Collection',
 'The Smurfs (Theatrical) Collection',
 'Scream Collection',
 'Godzilla (Heisei) Collection',
 'The Hitcher (1986) Collection',
 'Witchboard Collection',
 'Pirates of the Caribbean Collection',
 'Ace Ventura Collection',
 'The Ring Collection',
 '... Has Fallen Collection',
 'Speed Collection',
 'Cats & Dogs Collection',
 'Hitman Collection',
 'Van Helsing Collection',
 'The Magnificent Seven Collection',
 'The Last Exorcism Collection',
 "Rosemary's Baby Collection",
 "Big Momma's House Collection",
 'Eye of the Dolphin Collection',
 'Appleseed Collection',
 'The Delta Force Collection',
 'The Apu Collection',
 'Dhoom Series',
 'I Spit on Your Grave Collection',
 'Machete Collection',
 'The Amityville Horror Collection',
 "Pee-wee's Collection",
 'This is England Collection',
 'Rebuild of Evangelion',
 'Deadpool Collection',
 'The Exorcist Collection',
 'Man of Steel Collection',
 'Clash of the Titans Collection',
 'Hatchet Collection',
 'National Lampoon’s Van Wilder Collection',
 'Borsalino Collection',
 'Evangelion Collection',
 'Samurai Trilogy',
 'Spy Kids Collection',
 'The Vampire Chronicles',
 'Darko Collection',
 'The Sting Collection',
 'The Legend Collection',
 'Alien Nation Collection',
 'Dolphin Tale Collection',
 'Ted Collection',
 'The Arrival Collection',
 'American Graffiti Collection',
 'Tiny Times Collection',
 'Madagascar Collection',
 'Once Upon a Time in China Collection',
 'Hooked Collection',
 'Friday Collection',
 'We Are From The Future Collection',
 'King Kong (1976 series)',
 'Sex and Zen Collection',
 'Finding Nemo Collection',
 'Beastmaster Collection',
 'Ringu Collection',
 'The Boogeyman Collection',
 'Barbershop Collection',
 'Analyze Collection',
 'Homeward Bound Collection',
 'Shaolin Temple Collection',
 'Jump Street Collection',
 "Nim's Island Collection",
 'Starship Troopers Collection',
 'Mission: Impossible Collection',
 'Stargate SG-1 Collection',
 'The Lord of the Rings Animated Collection',
 'Pocahontas Collection',
 'Death Wish Collection',
 'Pet Sematary Collection',
 'The Raid Collection',
 'Swamp Thing Collection',
 'The Scorpion King Collection',
 'Annie Collection',
 'Atlantis Collection',
 'The Incredibles Collection',
 'Conan the Barbarian Collection',
 'Air Bud Collection',
 'Tinker Bell Collection',
 'Goon Collection',
 'Singham Collection',
 'Cetto La Qualunque - Collezione',
 'The X-Files Collection',
 'Joy Ride Collection',
 'The Thing Collection',
 'Trainspotting Collection',
 'Burnt by the Sun Trilogy',
 'The Hannibal Lecter Anthology',
 'Care Bears Collection',
 'Prometheus Collection',
 "Porky's Collection",
 'BloodRayne Collection',
 'Alone in the Dark Collection',
 'S.W.A.T. Collection',
 'Save The Last Dance Collection']
/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), collection);
autocomplete(document.getElementById("myInput2"), actors);

</script>
</body>

</html>
