<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tv-Series Success Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Know people's sentiments</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\sentiment" method="post">

<div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="name" placeholder="name">
  </div>
            <br>
            <br>
  <input type="submit" class="btn btn-secondary">
        </form>


       <img src="data:image/png;base64, {{ plot_url }}">


    </div>




    <!-- JavaScript -->

<script>
    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var movies=['Percy Jackson & the Olympians: The Lightning Thief',
 'Please Give',
 '10',
 '12 Angry Men (Twelve Angry Men)',
 '20,000 Leagues Under The Sea',
 '10,000 B.C.',
 'The 39 Steps',
 '3:10 to Yuma',
 'Charly (A Heartbeat Away)',
 'Abraham Lincoln',
 'Dark Water',
 'The Accused',
 'The Lost City',
 'The Breaking Point',
 "Adam's Rib",
 'The Bridge of San Luis Rey',
 'The Prowler (Cost of Living )',
 'Criminal',
 'The Adventures of Mark Twain',
 'Deep Blue',
 'The Adventures of Robin Hood',
 'Man Hunt',
 'Dead End',
 'Bandwagon',
 'Whore',
 'Tristan & Isolde',
 'Wild Side',
 'A Tale of Two Pizzas',
 'Running Scared',
 'Going the Distance',
 'Ultraviolet',
 'Home of the Brave',
 'Arthur and the Invisibles (Arthur and the Minimoys)',
 'Malevolence',
 'Eternal',
 'A Farewell To Arms',
 'The Narrow Margin',
 'The Matador',
 'Smile',
 "The Intruder (L'Intrus)",
 'Saint Ralph',
 'The Baxter',
 'Oliver Twist',
 'The Alamo',
 'G',
 'Alexander the Great',
 'Alfie',
 'Neverwas',
 'The Second Chance',
 'Moonlight',
 'Aliens',
 'Rise: Blood Hunter',
 'All About Eve',
 'When Do We Eat?',
 'The Mostly Unfabulous Social Life of Ethan Green',
 'Dirty',
 'Stay Alive',
 'All of Me',
 'All Quiet on the Western Front',
 'Dreamland',
 'Independent Lens',
 "All the King's Men",
 'Street Fight',
 'Lost Horizon',
 'The Motel',
 'Once in a Lifetime: The Extraordinary Story of the New York Cosmos',
 'Requiem',
 'Gui si (Silk)',
 'Park',
 'The 4th Dimension',
 'Bon Cop, Bad Cop',
 'Amazing Grace',
 'The Silence',
 'Cocaine Cowboys',
 'Gone',
 'The Situation',
 'Snow Blind',
 'Four Sheets to the Wind',
 "The Tiger's Tail",
 "It's a Boy Girl Thing",
 'Slipstream',
 'Delirious',
 'Interview',
 'American Anthem',
 'The Ten',
 'The Happening',
 'Molière',
 'Straightheads (Closure)',
 'Borderland',
 'Spiral',
 'Alexandra',
 'Blood and Tears: The Arab-Israeli Conflict',
 'The Cool School',
 'Pathology',
 "Disney's A Christmas Carol",
 'Deep Water',
 'Road to Victory',
 'Beverly Hills Chihuahua',
 'Fireflies in the Garden',
 'The Eye',
 'Day of the Dead',
 "My Best Friend's Girl",
 'The Burrowers',
 'The Midnight Meat Train',
 'The Lucky Ones',
 'Run Fatboy Run',
 'Closing Escrow',
 'Whiteout',
 'Randy and the Mob',
 'Black Irish',
 'Wild Child',
 'Powder Blue',
 'King Corn',
 "L' Avocat de la Terreur (Terror's Advocate)",
 'Darfur Now',
 'Laaga Chunari Mein Daag - Journey of a Woman',
 'Rails & Ties',
 'Mr. Untouchable',
 'House',
 'Canvas',
 'Skid Row',
 'Saawariya',
 'Aaja Nachle',
 'Flawless',
 'What Happens in Vegas',
 'Appaloosa',
 'Good',
 'The Visitor',
 'Meet Bill',
 'Married Life',
 'Badland',
 'The Oxford Murders',
 'Untraceable',
 'The Informers',
 'Meeting Resistance',
 'The Freshman',
 'Guta-yubalja-deul (A Bloody Aria)',
 'Kenny',
 'The Rocker',
 'The Perfect Holiday',
 'La Graine et le Mulet (The Secret of the Grain) (Couscous)',
 'Land of the Lost',
 '[Rec]',
 'Look',
 'And God Created Woman',
 'The Box',
 'Man in the Chair',
 'Undoing',
 'Black Water',
 '21',
 "The Duchess of Langeais (Ne Touchez Pas La Hache)(Don't Touch the Axe)",
 'Ben X',
 'Body of Lies',
 'Passengers',
 'The Grand',
 'The Hammer',
 'Shutter',
 'Priest',
 'The Broken',
 'The Escapist',
 'Sugar',
 'Quid Pro Quo',
 'Red',
 'The Guitar',
 'The Road',
 'G-Force',
 'The Other Man',
 'The Duchess',
 'The Women',
 'Public Enemies',
 'Night and Day (Bam gua nat)',
 'Julia',
 'Angel and the Badman',
 'Fade to Black',
 'Angel Heart',
 'Old Dogs',
 'Surrogates',
 'The Promotion',
 'Notorious',
 'Soul Men',
 'Igor',
 'The Auteur',
 'The Caller',
 'Sin Nombre',
 'Das Haus der Schlafenden Schönen (House of the Sleeping Beauties)',
 'The Stone Angel',
 'Alvin and the Chipmunks: The Squeakquel',
 'Un Conte de Noël (A Christmas Tale)',
 'The Rebound',
 'Ripple Effect',
 '1,000 Times Good Night',
 'Harold',
 'Push',
 'Felon',
 'Scar',
 'The Unborn',
 'Bitch Slap',
 'Forever Strong',
 'Chocolate',
 'Fireproof',
 'Dostana',
 'The Garden',
 'Splinter',
 'Leaves of Grass',
 'Rab Ne Bana Di Jodi (A Couple Made by God) (A Match Made in Heaven)',
 'The Proposal',
 'Gigantic',
 'Fuel',
 'Hush',
 'Anna Karenina',
 'Orphan',
 "My Sister's Keeper",
 'The Hangover',
 'The Stepfather',
 'Okuribito (Departures)',
 'Boogie (Summer Holiday)',
 'Prima Ballerina',
 'Season of the Witch',
 'Shuttle',
 'Miss March',
 'An American Affair',
 'Grace',
 'Endgame',
 'The Red Baron (Der rote Baron)',
 'The Objective',
 'Happy Tears',
 'The Missing Person',
 'Polanski (Polanski Unauthorized)',
 'Mammoth (Mammut)',
 'Crude',
 'The Messenger',
 'Lake Mungo',
 'Venkovský Ucitel (The Country Teacher)',
 'The Apartment',
 'Chatham (The Golden Boys)',
 'The Ape',
 'Fame',
 'Outrage',
 'Skin',
 'Helen',
 'Bakjwi (Thirst)',
 'Vengeance (Fuk sau)',
 'New World Order',
 "April Fool's Day",
 'Blood: The Last Vampire',
 'Shrink',
 'Ong Bak 2',
 'Bananas!',
 'Last Ride',
 'Tron Legacy',
 'The Canyon',
 'Manson, My Name Is Evil',
 'Broken Hill',
 'A Beautiful Life',
 'Suck',
 'Chloe',
 'Armed and Dangerous',
 'The Hole',
 "NoBody's Perfect",
 'The Good Soldier',
 'High Life',
 'Around the World in 80 Days',
 'The Fall',
 'The Good Heart',
 'Wonderful World',
 'Collapse',
 'Three Blind Mice',
 'The Last Song',
 'Babies',
 'Lottery Ticket',
 'Life as We Know It',
 'The Final',
 'Frozen',
 'Prodigal Sons',
 'The Ghost Writer',
 'Repo Men',
 '7 Days (Les 7 jours du talion)',
 'Daddy Longlegs',
 'Veer',
 "Winter's Bone",
 'The Kids Are All Right',
 'Lucky',
 'High School',
 'Stolen',
 'The Killing Jar',
 'La MISSION',
 'Predators',
 'Stonewall Uprising',
 'The Oath',
 'The Wild Hunt',
 'Arthur',
 'The Lottery',
 'Assault on Precinct 13',
 'Asylum',
 'Attack of the 50 Foot Woman',
 'Avenging Angel',
 'The Aviator',
 'The Awakening',
 'Babes in Toyland',
 'Bad Company',
 'The Bad News Bears',
 'The Bad Seed',
 'Bang The Drum Slowly',
 'Battleground',
 'Beauty and The Beast (La Belle et la bête)',
 "The Belles of St. Trinian's",
 '1001 Grams',
 'The Best of Times',
 'Betrayed',
 'The Big Brawl (Battle Creek Brawl)',
 'Big Business',
 'The Big Heat',
 'The Big Sleep',
 'Billy Budd',
 'The Birds',
 'Black Christmas',
 'The Black Hole',
 'The Black Pirate',
 'Black Rain',
 'Black Sunday',
 'Black Widow',
 'Blackmail',
 'Blind Date',
 'Blood and Sand',
 'Blood Feast',
 'Der Blaue Engel (The Blue Angel)',
 'Bluebeard',
 'The Border',
 'Born Yesterday',
 'The Boston Strangler',
 'The Bounty',
 'The Boys from Brazil',
 'Brainstorm',
 'Breakout',
 "Brewster's Millions",
 "Brian's Song",
 'Brief Encounter',
 'Broken Arrow',
 'Broken Blossoms',
 'The Brotherhood',
 'Bug',
 'Burglar',
 'Bus Stop',
 'Butch Cassidy and the Sundance Kid',
 'Bye Bye Birdie',
 'Calamity Jane',
 'Camelot',
 'Camille',
 'Cape Fear',
 'Captain Blood',
 'Captains Courageous',
 'Carnival of Souls',
 'Carny',
 'Carrie',
 'Casablanca',
 'Casino Royale',
 'The Cat and the Canary',
 'Cat on a Hot Tin Roof',
 'Cat People',
 'Caught',
 'The Champ',
 'Champion',
 'Charade',
 "Charlotte's Web",
 'The Chase',
 'Checking Out',
 'Children of the Corn',
 'The Chosen',
 'A Christmas Carol',
 'Christmas in Connecticut',
 'A Christmas Story',
 'Cimarron',
 'Cleopatra',
 'College',
 'Colors',
 'Coma',
 'Commando',
 'Convoy',
 'Countdown',
 'The Country Girl',
 'Cover Girl',
 'Creature from the Black Lagoon',
 'Crossroads',
 'Cutting Class',
 'Damn Yankees',
 'Dangerous',
 'Dangerous Liaisons',
 'The Dark Mirror',
 'Darling',
 'The Day the Earth Stood Still',
 'Days of Wine and Roses',
 'Dead Heat',
 'Dead Reckoning',
 'Death in Venice',
 'Death of a Salesman',
 'Dèmoni (Demons)',
 'The Desperate Hours',
 'Devil Doll',
 'Dillinger',
 'Dinner at Eight',
 'Distant Thunder',
 'Doctor Zhivago',
 'Dodge City',
 'Dolls',
 'Dr. Jekyll and Mr. Hyde',
 'How the Grinch Stole Christmas',
 'Dracula',
 'Dragnet',
 'The Dream Team',
 'Dressed to Kill',
 'Duel',
 'Dune',
 'The Eagle Has Landed',
 'East of Eden',
 'Easy Money',
 'Eaten Alive',
 'Edipo re (Oedipus Rex)',
 'The Elephant Man',
 'The Enforcer',
 'Escape from New York',
 'Exodus',
 'Eyewitness',
 'Fahrenheit 451',
 'The Fan',
 'Fandango',
 'Far From the Madding Crowd',
 'Farewell, My Lovely',
 'Fatal Attraction',
 'Father of the Bride',
 'Fire and Ice',
 'Flash Gordon',
 'Flashback',
 'Flesh & Blood (Flesh+Blood) (The Rose and the Sword)',
 'The Flight of the Phoenix',
 'Flipper',
 'The Fly',
 'Flying Tigers',
 'Footloose',
 'The Four Feathers',
 'Frantic',
 'Freaky Friday',
 'Fright Night',
 'From Here to Eternity',
 'Frosty the Snowman',
 'The Fugitive',
 'Fun with Dick and Jane',
 'Funny Farm',
 'The Fury',
 'Galaxy of Terror (Mindwarp: An Infinity of Terror) (Planet of Horrors) (Quest)',
 'Gallipoli',
 'The Gambler',
 'Game of Death',
 'The General',
 'The Getaway',
 'Girls! Girls! Girls!',
 'Gloria',
 'Glory',
 'Go West',
 'Gone in 60 Seconds',
 'The Goodbye Girl',
 'Goodbye, Mr. Chips',
 'The Great Gatsby',
 'The Great Race',
 'The Green Berets',
 'Grizzly',
 'The Group',
 "Gulliver's Travels",
 'The Gunfighter',
 'Gung Ho',
 'Gypsy',
 'Hairspray',
 'Halloween',
 'Hamlet',
 'The Hand',
 'Hard Times',
 'Hardcore',
 'The Harder They Fall',
 'The Haunting',
 'Hawaii',
 'Heat',
 'Heaven',
 'Heaven Can Wait',
 'Heidi',
 'The Hidden Fortress (kakushi-toride No San-akunin)',
 'The Hills Have Eyes',
 'The Hindenburg',
 'The Hit',
 'A Hole in the Head',
 'Hot Pursuit',
 '100 Bloody Acres',
 '100 Girls',
 '100 Streets',
 'The Hound of the Baskervilles',
 "House (Ding Dong, You're Dead)",
 'House of Wax',
 'House On Haunted Hill',
 'Hud',
 'The Human Factor',
 'The Hunchback of Notre Dame',
 'The Hunter',
 'Hustle',
 'I, the Jury',
 'Imitation of Life',
 'The Importance of Being Earnest',
 'Impulse',
 'In Cold Blood',
 'The Incubus',
 'Indiscreet',
 'The Informer',
 'Inherit the Wind',
 'Intolerance',
 'Invaders from Mars',
 'Invaders From Mars',
 'Invasion of the Body Snatchers',
 'The Invisible Man',
 'The Island',
 'The Island of Dr. Moreau',
 'Islands in the Stream',
 'It',
 "It's Alive",
 'Ivanhoe',
 'Jack and the Beanstalk',
 'Jack Frost',
 'Jamaica Inn',
 'Jason and the Argonauts',
 'The Jazz Singer',
 'Jesus Christ Superstar',
 'Johnny Belinda',
 'Judex',
 'Julius Caesar',
 'Jungle Book',
 'Kansas',
 'Kickboxer',
 'Kid Galahad',
 'The Killer Elite',
 'The King and I',
 'King Kong',
 'The King of Comedy',
 'King of Kings',
 "King Solomon's Mines",
 'The Lady Vanishes',
 'The Ladykillers',
 'Laura',
 'Legend',
 'Les Miserables',
 'The Letter',
 'Lilies of the Field',
 'The Lion in Winter',
 'The Little Drummer Boy',
 'Little Lord Fauntleroy',
 'The Little Princess',
 'A Little Romance',
 'The Little Shop of Horrors',
 'Little Shop of Horrors',
 'Little Women',
 'Lock Up',
 'Lolita',
 "Long Day's Journey Into Night",
 'The Long, Hot Summer',
 'The Longest Yard',
 'Look Back in Anger',
 'The Lost Patrol',
 'The Love Bug',
 'Lovesick',
 'Lust for Life',
 'M',
 'Madame X',
 'Made in Heaven',
 'The Magic Flute (Trollflöjten)',
 'The Magnificent Ambersons',
 'The Magnificent Seven',
 'The Main Event',
 'The Maltese Falcon',
 'A Man for All Seasons',
 'The Manchurian Candidate',
 'The Manhattan Project',
 'Manhunter',
 'Mannequin',
 'The Mark of Zorro',
 'Marty',
 'Masquerade',
 'The Mechanic',
 'The Men',
 'Meteor',
 'Metropolis',
 "A Midsummer Night's Dream",
 'Mighty Joe Young',
 'The Miracle Worker',
 'Missing in Action',
 'The Mission',
 'Mister Roberts',
 'Moby Dick',
 'Monkey Business',
 'Moonraker',
 'Morning Glory',
 'Moulin Rouge',
 'Mr. & Mrs. Smith',
 'Mrs. Soffel',
 'The Mummy',
 'Murder!',
 'The Music Man',
 'Mutiny on the Bounty',
 'My Man Godfrey',
 'Mysterious Island',
 'Near Dark',
 'Neighbors',
 'Next of Kin',
 'Nicholas and Alexandra',
 'Night and Day',
 'A Night at the Opera',
 'Night of the Living Dead',
 'A Night to Remember',
 'Nighthawks',
 "No Man's Land",
 'No Mercy',
 'No Way Out',
 'The Nutty Professor',
 'Obsession',
 'The Odd Couple',
 'Odd Man Out',
 'The Odessa File',
 'The Omen',
 'On the Beach',
 'On the Town',
 'Only When I Laugh',
 'Our Town',
 'Out of the Dark',
 'The Out-of-Towners',
 'The Parent Trap',
 'The Party',
 'Pennies From Heaven',
 'Peter Pan',
 'The Phantom of the Opera',
 'Phantom Of The Opera',
 'The Picture of Dorian Gray',
 'The Pink Panther',
 'Piranha',
 'The Pirates of Penzance',
 'Pit and the Pendulum (The Pit and the Pendulum)',
 'Planet of the Apes',
 'Point Blank',
 'Pollyanna',
 'Poltergeist',
 'Popeye',
 'The Poseidon Adventure',
 'Posse',
 'The Postman Always Rings Twice',
 'Power',
 'Pride and Prejudice',
 'The Prince and the Pauper',
 'The Prisoner of Zenda',
 'The Prisoner',
 'The Producers',
 'Project X',
 'Prom Night',
 'Promised Land',
 'Prophecy',
 'The Protector',
 'The Prowler',
 'The Public Enemy',
 'Pulse',
 'Quo Vadis?',
 'A Raisin in the Sun',
 'Raw Deal',
 "The Razor's Edge",
 'Rear Window',
 'Reckless',
 'Red Dawn',
 'Red Heat',
 'The Red Shoes',
 'Red Sonja',
 'Monanieba (Repentance)',
 'Return to Oz',
 'Revenge',
 'Rich and Famous',
 'Risky Business',
 'Road House',
 'Robin Hood',
 'RoboCop',
 "Rock 'n' Roll High School",
 'Rocky',
 'The Roman Spring of Mrs. Stone',
 'Romeo and Juliet',
 'Rudolph the Red-Nosed Reindeer',
 'Runaway',
 'Sabotage',
 'Sabrina',
 'Sahara',
 'Samson and Delilah',
 'Scanners',
 'Scarecrow',
 'Scarface',
 'Scrooge',
 'The Sea Hawk',
 'Second Sight',
 'Blind Terror (See No Evil)',
 'Separate Tables',
 'Shadow of a Doubt',
 'Shaft',
 'The Shaggy Dog',
 'Shakedown',
 'Shall We Dance',
 'The Shooting',
 'Short Circuit',
 'A Shot in the Dark',
 'Show Boat',
 'Silent Night, Deadly Night',
 'The Silent Partner',
 'Silver Streak',
 'Simon',
 'Sinbad the Sailor',
 'Skin Deep',
 'Sleeping Beauty',
 'Something to Sing About',
 'Sorcerer',
 'Sparkle',
 'Spartacus',
 'Splash',
 'Spring Break',
 'The Squeeze',
 "The St. Valentine's Day Massacre",
 'Stagecoach',
 'Stage Fright',
 'Stakeout',
 'A Star Is Born',
 'A Star is Born',
 '101 Dalmatians',
 "101 Dalmatians II: Patch's London Adventure",
 'The Sting',
 'The Stranger',
 'A Streetcar Named Desire',
 'Suddenly',
 'Summer School',
 'The Sundowners',
 'The Sunshine Boys',
 'Suspect',
 'Suspicion',
 'Svengali',
 'Sweet Bird of Youth',
 'Swing Time',
 'Swiss Family Robinson',
 'A Tale of Two Cities',
 'The Taming of the Shrew',
 'Target',
 'Tarzan, the Ape Man',
 'Tempest',
 'The Ten Commandments',
 'Tales of Terror',
 'That Championship Season',
 'Them!',
 'Shivers (They Came from Within) (The Parasite Murders)',
 'They Drive by Night',
 'Thief',
 'The Thing from Another World',
 'The Thing',
 'Thirst',
 'This Gun for Hire',
 'Three Amigos!',
 'Tre Fratelli (Three Brothers)',
 'The Three Musketeers',
 'The Time Machine',
 'Tommy',
 'The Toolbox Murders',
 'Top Secret!',
 'I corpi presentano tracce di violenza carnale (Torso) (Bodies Bear Traces of Carnal Violence)',
 'Touch of Evil',
 'Tough Guys',
 'Treasure Island',
 'Le Procès (The Trial)',
 'The Trip',
 "Twelve O'Clock High",
 'Twins',
 'Uncommon Valor',
 'The Undefeated',
 'Unfaithfully Yours',
 'The Unforgiven',
 'Valley Girl',
 'Venom',
 'Vice Versa',
 'Victory',
 'Village of the Damned',
 'Walking Tall',
 'The Warriors',
 'Water',
 "We're No Angels",
 'Weird Science',
 'When a Stranger Calls',
 'Where the Boys Are',
 'White Christmas',
 'Willard',
 "Winchester '73",
 'Witness',
 "A Woman's Face",
 'The Wrong Man',
 'Wuthering Heights',
 'Year of the Dragon',
 'The Yearling',
 'Yours, Mine and Ours',
 'Blue Steel',
 'Where the Heart Is',
 'The Guardian',
 'Mystery Train',
 'Revolution',
 'Henry V',
 'Kiss of Death',
 'Conquest',
 'Alice in Wonderland',
 'My Blue Heaven',
 'State Fair',
 'Dick Tracy',
 'Bombshell (Blonde Bombshell)',
 'Navy Seals',
 '102 Dalmatians',
 'Narrow Margin',
 'Red Dust',
 'Desperate Hours',
 'Ghost',
 'Memphis Belle',
 'Faust',
 'Gun Crazy (Deadly Is the Female)',
 'The Jungle Book',
 'The Long Goodbye',
 'Houdini',
 'Avalon',
 'The Rookie',
 'The Long Walk Home',
 'Anastasia',
 'Jane Eyre',
 'The Pit and the Pendulum',
 'GoodFellas',
 'After Hours',
 'White Fang',
 'Boy Meets Girl (1984)',
 'Mata Hari',
 'Alice',
 'Hidden Agenda',
 'The Connection',
 'The Entertainer',
 'Sorry, Wrong Number',
 'Awakenings',
 'Diabolique (Les Diaboliques)',
 'True Colors',
 'Switch',
 'The Field',
 'Oscar',
 'Night Nurse',
 'Fury',
 'Possessed',
 'Born to Kill',
 'Toy Soldiers',
 'Come and See (Idi i smotri)',
 'The Miracle',
 'Hot Shots!',
 'Dogfight',
 'The Hitman',
 "Teacher's Pet",
 'Shattered',
 'The Doctor',
 'Paradise',
 'The Commitments',
 'Frankie & Johnny',
 'Deceived',
 'The Star',
 'Poison',
 'Homo Faber (Voyager)',
 'My Girl',
 'JFK',
 'The Man in the Moon',
 'The Prize',
 'The Train',
 'Rush',
 'Medicine Man',
 'Platinum Blonde',
 'The Uninvited',
 'The Italian Job',
 'Beethoven',
 'Tacones Lejanos (High Heels)',
 'The Babe',
 'The Cutting Edge',
 'Gladiator',
 'Deep Cover',
 'All I Want for Christmas',
 'Class Act',
 'Edward II',
 'A Midnight Clear',
 'Boomerang',
 'Rapid Fire',
 'Live Wire',
 'Of Mice and Men',
 'Body Parts',
 'Cool World',
 'Singles',
 'The Naked City',
 'Conquest of Space',
 'Wind',
 'The Last of the Mohicans',
 'Consenting Adults',
 'Husbands and Wives',
 'Hero',
 'Ned Kelly (Ned Kelly, Outlaw)',
 'Hallelujah',
 'The Sea Wolf',
 'Forever Young',
 'Matinee',
 'Unforgiven',
 'Leap of Faith',
 'Malcolm X',
 'Love on the Run',
 'Scent of a Woman',
 'Nowhere to Run',
 'Sniper',
 'The Vanishing',
 'The Crush',
 'Boiling Point',
 'Indian Summer',
 'Alive',
 'Point of No Return (The Assassin)',
 "Brother's Keeper",
 'Stalker',
 'The Browning Version',
 'Made in America',
 'Cliffhanger',
 'Frankenstein',
 'The Firm',
 'The Black Scorpion',
 'The Lodger: A Story of the London Fog',
 'Equinox',
 'Wide Sargasso Sea',
 'The Secret Garden',
 'Strictly Ballroom',
 'Calendar Girl',
 'Savage Messiah',
 'Deadfall',
 'Much Ado About Nothing',
 'Airborne',
 'Gettysburg',
 'Fatal Instinct',
 'High Noon',
 'A Home of Our Own',
 'Fearless',
 "Trauma (Dario Argento's Trauma)",
 'Cool Runnings',
 'The Skin Game',
 'The Man Who Loved Women',
 'Impact',
 'Into the West',
 'Scared Stiff',
 'Gunmen',
 'Dangerous Game',
 'Angels in the Outfield',
 'Heaven & Earth',
 'Snow White and the Seven Dwarfs',
 'Sugar Hill',
 'Thumbelina',
 'The Young Americans',
 'Alice (Neco z Alenky)',
 'The Last Man on Earth',
 "Sherman's March",
 'Bad Girls',
 'Dream Lover',
 'Black Beauty',
 'The Circus',
 'The Kid',
 'Wyatt Earp',
 'Betty',
 'Blown Away',
 'The Mask',
 'Wolf',
 'Orlacs Hände (The Hands of Orlac)',
 'The Shadow',
 'It Could Happen to You',
 'Milk Money',
 'Barcelona',
 'Only You',
 'The Specialist',
 'Titanic',
 'Beloved',
 "Rudyard Kipling's The Jungle Book",
 'The Life and Times of Allen Ginsberg',
 'Junior',
 'Street Fighter',
 'Shallow Grave',
 'Three Colors: Red (Trois couleurs: Rouge)',
 'True Crime',
 "L'Enfer",
 "Nobody's Fool",
 'The Wild Bunch',
 'The Quick and the Dead',
 'Top Dog',
 'Man of the House',
 'Born to Be Wild',
 'Hideaway',
 'The Babysitter',
 'The Old Dark House',
 'She',
 'School for Scoundrels',
 'A Little Princess',
 'Mad Love',
 'Bad Boys',
 'Smoke']
/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), movies);
</script>
</body>

</html>
